<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
	<filter>
		<blacklist>
			<directory>./vendor/</directory>
		</blacklist>
	</filter>
	<testsuites>
		<testsuite name="Unit Tests">
			<directory>./src/test/unit/</directory>
		</testsuite>
        <testsuite name="Integration Tests">
            <directory>./src/test/integration/</directory>
        </testsuite>
	</testsuites>
    
</phpunit>